<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="chat.chitchat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".offlineHalper.MalikChat"
        android:allowBackup="false"
        android:icon="@drawable/ic_chat_group"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_chat_group"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.UserMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".notification.MyFirebaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivityTwo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompleteProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BlockedUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreateGroupSecoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AllUserActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f2901f9ce4c70de49dccdb1fd55b07701e091a1e" />

        <activity android:name=".activity.GroupProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity.AddGroupParticipantActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>